
.HomeStaff-container{
    .customer_info{
        .btn_acc{
            display: flex;
            gap: 10px;
            padding: 20px;
        }
        .searchBox{
            padding: 20px;
            .input_search{


            }
            .result{
                margin-top: 10px;
                width: 400px;
                min-height: 200px;
                box-shadow: 0px 0px 5px 0 rgba(167, 167, 167, 0.5);
                padding: 10px;
                .item{
                    padding: 6px;
                    height: 30px;
                    border-radius: 4px;
                    &:hover{
                        background-color: #e2e2e2;
                        color: #000000;
                    }
                }
            }
        }
        .info_user_order{
            .box-cus-info-2021-ct{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 20px;
    
            
                .item-tk{
                    width: 100%;
                    height: 40px;
                    display: flex;
                    label{
                        color: rgba(85, 85, 85, .8);
                        width: 10%;
                        text-align: left;
                        font-size: 14px;
                        line-height: 2.5;
                        height: 40px;
                        margin-right: 20px;
                        float: right;
                    }
                
                    .item-tk-ct{
                        width: calc(50% - 120px);
                        float: left;
                        height: 100%;
                        .inputText{
                            height: 100%;
                            width: 100%;
                            background: #f5f5f5;
                            border: solid 1px #e1e1e1;
                            border-radius: 2px;
                            padding: 0px 10px;
                        
                        }
                        .item-tk-ct-note{
                            font-family: "Open Sans",Arial,sans-serif;
                            color: #333e48;
                            word-break: break-word;
                            font-size: 12px;
                            box-sizing: border-box;
                            width: 100%;
                            float: left;
                        }
                        .item-input-tk{
                        
                        }
                        .label-select-radio{
                        
                        }
                        .tk-btn-submit{
                            width: 230px;
                            float: left;
                            text-align: center;
                            border: none;
                            line-height: 55px;
                            border-radius: 5px;
                            font-size: 14px;
                            color: #fff;
                            background: #ed1b24;
                            text-decoration: none;
                            font-family: "Open Sans",Arial,sans-serif;
                            a{
                                word-break: break-word;
                                box-sizing: border-box;
                                cursor: pointer;
                                text-decoration: none;
                                transition: all .2s ease;
                                width: 230px;
                                float: left;
                                text-align: center;
                                border: none;
                                line-height: 55px;
                                border-radius: 5px;
                                font-size: 14px;
                                color: #fff;
                            }
            
                        }
                    }
                    }
            }
        }
    }
    .PaylistOrderContent{
        margin-top: 40px;
        width: 100%;
        margin-bottom: 600px;
    

        .cart-content-2021{
            width: 100%;
            display: flex;
            min-height: 300px;
            gap: 10px;
            .cart-content-2021-left{
                flex: 1;
                width: 72%;
                box-shadow: 0px 0px 5px 0 rgba(167, 167, 167, 0.5);
                padding: 20px;
                .header-cart-ct-left{
                    border-bottom: 1px solid #bebebe;
                    width: 100%;    
                    color: #333e48;
                    word-break: break-word;
                    font-size: 12px;
                    box-sizing: border-box;
                    float: left;
                    padding: 10px;
                    margin-bottom: 10px;
                    border-radius: 5px;
                    background: #fff;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    height: 42px;
                    font-family: "Open Sans",Arial,sans-serif;
                    word-break: break-word;
                    font-size: 16px;
                    color: #000;
                    line-height: 19px;
                    box-sizing: border-box;
                    font-weight: 600;
                    .cart-col-product{
                        flex: 1;
                        height: 100%;
                        
                    
                    }
                    .cart-col-price{
                        width: 185px;
                    
                    }
                    .cart-col-quantity{
                        width: 125px;
                        text-align: center;
    
                    
                    }
                    .cart-col-total-price{
                        
                        width: 125px;
                    
                    }
                    .cart-col-delete{
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        cursor: pointer;
                        border-radius: 50%;
                        &:hover{
                            background-color: #e4e4e4;
                        }
                        text-align: center;
                        justify-content: center;
                    
                    }
                }
                .cart-list-item{
                    width: 100%;    
                    color: #333e48;
                    word-break: break-word;
                    font-size: 12px;
                    box-sizing: border-box;
                    float: left;
                    padding: 10px;
                    margin-bottom: 10px;
                    border-radius: 5px;
                    background: #fff;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    font-family: "Open Sans",Arial,sans-serif;
                    word-break: break-word;
                    font-size: 14px;
                    color: #000;
                    line-height: 19px;
                    box-sizing: border-box;
                    flex-direction: column;
                    .new-cart-items{
                        border-bottom: 1px solid #cacaca;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        .cart-col-product{
                            flex: 1;
                            height: 100%;
                            
                        }
                        .cart-col-price{
                            width: 185px;
                            word-break: break-word;
                            box-sizing: border-box;
                            font-size: 16px;
                            font-family: Helvetica,Arial,sans-serif;
                            color: #000;
                            margin-right: 5px;
                            font-weight: 600;
                        
                        }
                        .cart-col-quantity{
                            display: flex;
                            flex-direction: row;
                            width: 125px;
                            height: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            cursor: pointer;
                        
                        }
                        .cart-col-total-price{
                            width: 125px;
                            word-break: break-word;
                            box-sizing: border-box;
                            font-family: Helvetica,Arial,sans-serif;
                            font-size: 16px;
                            color: #ee2724;
                            font-weight: 600;
                        }
                        .cart-col-delete{
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            cursor: pointer;
                            border-radius: 50%;
                            &:hover{
                                background-color: #e4e4e4;
                            }
                            text-align: center;
                            justify-content: center;
                        
                        }
    
                    
                    }
                    .btn_icon{
                    
                    }
                    :last-child{
                        border-bottom: none!important;
                    }
                }
            }
            .cart-content-2021-right{
                box-shadow: 0px 0px 5px 0 rgba(167, 167, 167, 0.5);
                padding: 20px;
                height: 100%;
                width: calc(28% - 10px);
                .box-cart-total-price{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    padding-top: 50px;
                    p{
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .total-cart-price{
                        
                        }
                        .red-b{
                        
                        }
                        .total-cart-payment{
                        
                        }
                        .cart-vat{
                            
                        }
                        .listOrderBottom{
                        
                        }
                    }
                }
                .button-buy-submit-cart{
    
                    word-break: break-word;
                    box-sizing: border-box;
                    cursor: pointer;
                    font-family: "Open Sans",Arial,sans-serif;
                    width: 100%;
                    float: left;
                    text-align: center;
                    border: none;
                    line-height: 40px;
                    border-radius: 2px;
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    background: #243a76;
                    margin-top: 10px;
                }
                
            }
        }
    
    }
}
