.admin-container {
    width: 100vw;
    overflow: hidden;
    display: flex;
    .admin-content {
        width: calc(100vw - 300px);
        .admin_header{
            height: 40px;
            background-color: #9c3333;
        }
        .admin_main {
            // height: 300px;
            height: calc(100vh);
            overflow-y: scroll;
        }
    }
}
