.PayPage {
    margin-top: 40px;
    width: 100%;

    .header-title {
        width: 100%;
        font-family: "Open Sans", Arial, sans-serif;
        word-break: break-word;
        box-sizing: border-box;
        float: left;
        font-size: 22px;
        font-weight: 700;
        color: #000;
        margin-bottom: 10px;
    }

    .cart-container {
        width: 100%;
        display: flex;
        min-height: 600px;
        justify-content: space-between;

        .cart-left {
            // flex: 1;
            width: 72%;

            .cart-header {
                display: flex;
                align-items: center;
                background: #fff;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 700;
                color: #000;
                gap: 10px;

                .cart-header-product {
                    flex: 1;
                    text-align: left;
                }

                .cart-header-price {
                    width: 125px;
                    text-align: left;
                }

                .cart-header-quantity {
                    width: 105px;
                    text-align: center;
                }

                .cart-header-total {
                    width: 125px;
                    text-align: left;
                }

                .cart-header-delete {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 50%;

                    &:hover {
                        background-color: #e4e4e4;
                    }
                }
            }

            .cart-items {
                display: flex;
                flex-direction: column;

                .cart-item {
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #cacaca;
                    padding: 10px;
                    gap: 10px;

                    &:last-child {
                        border-bottom: none;
                    }

                    .cart-item-product {
                        flex: 1;
                        text-align: left;
                        overflow-x: visible;
                    }

                    .cart-item-price {
                        width: 125px;
                        text-align: left;
                        font-size: 16px;
                        font-weight: 600;
                        color: #000;
                    }

                    .cart-item-quantity {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 105px;
                        text-align: center;

                        .quantity-button {
                            cursor: pointer;
                        }
                    }

                    .cart-item-total {
                        width: 125px;
                        text-align: left;
                        font-size: 16px;
                        font-weight: 600;
                        color: #ee2724;
                    }

                    .cart-item-delete {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        cursor: pointer;
                        border-radius: 50%;

                        &:hover {
                            background-color: #e4e4e4;
                        }
                    }
                }
            }
        }

        .cart-right {
            width: calc(28% - 20px);

            .cart-summary {
                padding-top: 0px;
                display: flex;
                flex-direction: column;

                p {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 40px;

                    .cart-summary-price {
                        font-weight: 600;
                    }

                    .cart-summary-total {
                        color: #ee2724;
                    }
                }

                .cart-summary-vat {
                    font-size: 12px;
                    color: #999;
                }
            }

            .checkout-button {
                margin-top: 20px;
                width: 100%;
                text-align: center;
                border: none;
                line-height: 40px;
                border-radius: 2px;
                font-size: 14px;
                font-weight: 500;
                color: #fff;
                background: #243a76;
                cursor: pointer;

                &.vnpay {
                    background: #58f05d;
                    color: #000;
                }
            }
        }
    }

    .action-buttons {
        margin-top: 20px;
        display: flex;
        gap: 30px;
        justify-content: center;

        .action-button {
            font-size: 14px;
            font-weight: 500;
        }
    }
}