
.footer-links {
    a{
        text-decoration: none;
        color: black;
    }
    width: 100%;
    color: black;
    .khaipv-footer-policies {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .policy-container {
            display: flex;
            .policy-icon {
            }
            .policy-info {
                display: flex;
                flex-direction: column;
                .policy-info-title {
                }
                .policy-info-content {
                }
            }
        }
    }

    .khaipv-footer-links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .links-group-container {
        }
        .loading {
        }
        .links-group-title {
        }
        .hotline {
        }
        .payment-method {
        }
        .footer-social-icons {
        }
        .icons {
        }
        .fab {
        }
        .fa-facebook-f {
        }
        .fa-youtube {
        }
        .fa-instagram {
        }
        .fa-tiktok {
        }
    }
    .footer-info {
    }
}
