.containerTC {
    box-sizing: border-box;
    padding: 15px 15px 15px;
    width: 100%;
    height: 380px;
    display: flex;
    background: repeating-linear-gradient(to right, #ed1b24 0, #243a76 50%, #ed1b24 100%);
    animation: gradient 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    background-size: 200% auto;
    border-radius: 15px;
    margin: 20px 0;
    .Pre {
        flex: 1;
        overflow: hidden;
        height: 100%;
        // width: 300px;
        margin-right: 15px;
        .lazy {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
        .loaded {
        }
    }
    .list {
        .slick-list {
            margin: 0 -10px;
        }
        height: 100%;
        flex: 3;
        overflow: hidden;
        .slide-item {
            
            box-sizing: padding-box;
            padding: 0 10px;
            height: 100%;
            overflow: hidden;
            .owl-lazy {
                border-radius: 15px;
                display: block;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .slick-arrow {
            .slick-next {
            }
            .slick-prev {
            }
        }
    }
}
@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}
