.productContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 80vw;
    gap: 60px;
    .productBanner {
        width: 100vw;
        background-image: url(../../../assets/image/main-bg.jpg);
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        .productBannerItem {
            display: block;
            text-transform: uppercase;
            font-size: 80px;
            font-weight: 700;
            color: #fff;
        }
    }
    .productContent {
        width: 100vw;
        background-image: url(../../../assets/image/burger-shape-2.png);
        height: 500px;
        .topContent {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            .presentImage {
                border-radius: 10px;
                width: 500px;
                height: 100%;
                background-image: url(../../../assets/image/micay.jpg);
            }
            .itemDes {
                background-color: #fff;
                border-radius: 10px;
                padding: 20px 40px;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                width: 500px;
                .topItemDes {
                    flex: 1;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: flex-start;
                    // align-items: ;
                    .description {
                        // height: 200px;
                        max-height: 200px;
                        flex: 1;
                        width: 100%;
                        border: 1px solid #000;
                        // background-color: #fff;
                        border-radius: 8px;
                        padding: 10px;
                        overflow-y: scroll;
                    }
                }
                .bottomItemDes {
                    z-index: 4;
                    min-height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .addmeBtn {
                        padding: 10px 20px;
                        border-radius: 5px;
                        background-color: #69eb2d;
                        cursor: pointer;
                        &:hover {
                            background-color: #cc4f30;
                        }
                    }
                    .SwiperSlideDes_Btn {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .countItem {
                            width: 100px;
                            text-align: center;
                            border: 1px solid #000;
                            background-color: #fff;
                            border-radius: 10px;
                            margin: 0 10px;
                            font-size: 18px;
                            padding: 5px;
                        }
                        .btn_icon {
                            cursor: pointer;
                            border-radius: 50%;
                            &:hover {
                                background-color: #f4f1ea;
                                // padding: -1px;
                                // color: #d82828;
                            }
                        }
                    }
                }
            }
            .bottomContent {
            }
        }
    }
    .commentContainer {
        width: 100%;
        background-color: #fff;
        padding: 30px;
        .listCommentContent {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            .commentItem {
                width: 700px;
                .commentItemContent{
                    border-radius: 10px;
                    margin-bottom: 10px;
                    padding: 10px;
                    .ItemContentTop{
                        display: flex;
                        justify-content: space-between;
                        .tableEdit{
                            display: flex;
                        }
                    }
                    .replyinputgroup{
                        display: none;
                        .btnReply {
                            
                            
                        }
                    }
                    
                    &:hover{
                        .replyinputgroup{
                            display: flex;
                        }
                    }
                }
                .listReply{
                    // background-color: #b13434;
                }
            }
        }
    }
}
