.DashBoard-container{
    background-color: #F5F7FA;
    width: 100%;
    display: flex;
    padding: 10px;
    .eco_dashBoard_left{
        padding: 0px 12px;
        margin-top: 24px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2{
            height: 55px;
            margin-bottom: 55px;
        }
        .statistics_order{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;   
        
            // General styling for items
            .item {
                display: flex;
                align-items: center;
                padding: 10px;
                border-radius: 8px;
                margin-bottom: 15px;
                background-color: #f9f9f9;
                transition: background-color 0.3s ease;
                cursor: pointer;
                &:hover{
                    background-color: #dfdfdf;
                }
                .icon {
                    font-size: 30px; // Size of the icon
                    margin-right: 15px;
                    font-weight: 700;
                }
                .content {
                    flex-grow: 1;
                    .heading {
                        font-size: 18px;
                        font-weight: bold;
                        color: #333;
                    }
                    .desc {
                        font-size: 14px;
                        color: #777;
                    }
                }
            }

            // Specific colors for different icons
            .ordernew {
                .icon {
                    color: #ff9800; // Orange for new orders
                }
            }

            .orderproces {
                .icon {
                    color: #2196F3; // Blue for processing orders
                }
            }

            .ordercancle {
                .icon {
                    color: #f44336; // Red for canceled orders
                    font-size: 60px;
                }
            }


        }
        .total_sell_selection{
            height: 65px;
            width: calc(100% );
            display: flex;
            justify-content: space-between;
            align-items: center;
            .heading{
                
                .header{
                    
                    
    
                }
                .desc{
    
                }
            }
            .selectBox{
                width: 195px;
                height: 34px;
                background-color: #FFFFFF;
                border: 1px solid #000;
                border-radius: 8px;

            }
        
        }
        .total_sell_chart{
            height: 320px;
            width: 100%;
            border: 1px solid #000;
            margin-bottom: 12px;
            cursor: pointer;
        }
    }
    .eco_dashBoard_right{
        display: flex;
        flex-direction: column;
        width: 50%;
        cursor: pointer;
        .item_top{
            display: flex;
            width: 100%;
            .left{
                height: 300px;width: 50%;
                background-color: #FFFFFF;
                border-radius: 10px;
                border: 1px solid #bcbcbc8f;
                margin: 12px;
                padding: 15px;
                // box-sizing: content-box;
                overflow: hidden;
            
            }
            .right{
                height: 300px;width: 50%;
                background-color: #FFFFFF;
                border-radius: 10px;
                border: 1px solid #bcbcbc8f;
                margin: 12px;
                padding: 15px;
                overflow: hidden;
            }
        }
        .item_bottom{
            display: flex;
            width: 100%;
            .left{
                height: 300px;width: 50%;
                background-color: #FFFFFF;
                border-radius: 10px;
                border: 1px solid #bcbcbc8f;
                margin: 12px;
                padding: 15px;overflow: hidden;
            
            }
            .right{
                height: 300px;width: 50%;
                background-color: #FFFFFF;
                border-radius: 10px;
                border: 1px solid #bcbcbc8f;
                border: 1px solid #ffffff00;
                border: 1px solid transparent;
                margin: 12px;
                padding: 15px;
                overflow: hidden;
            }

        }
    }
}
.listChart{
    padding: 10px;
    width: 100%;
    border: 1px dashed #000000;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F7FA;
    .itemChart{
        width: 100%;
        max-height: 400px;
    }
}