.DashBoard-container{
    background-color: #F5F7FA;
    width: 100%;
    display: flex;
    .eco_dashBoard_left{
        padding: 0px 12px;
        margin-top: 24px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2{
            height: 55px;
            margin-bottom: 55px;
        }
        .statistics_order{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;   
        
            .ordernew{
                
            
            }
            .orderproces{

            }
            .ordercancle{

            }

        }
        .total_sell_selection{
            height: 65px;
            width: calc(100% );
            display: flex;
            justify-content: space-between;
            align-items: center;
            .heading{
                
                .header{
                    
                    
    
                }
                .desc{
    
                }
            }
            .selectBox{
                width: 195px;
                height: 34px;
                background-color: #FFFFFF;
                border: 1px solid #000;
                border-radius: 8px;

            }
        
        }
        .total_sell_chart{
            height: 320px;
            width: 100%;
            border: 1px solid #000;
            margin-bottom: 12px;
            
        }
    }
    .eco_dashBoard_right{
        display: flex;
        flex-direction: column;
        // gap: 24px;
    
        .item_top{
            display: flex;
            .left{
                height: 300px;width: 300px;
                background-color: #FFFFFF;
                border-radius: 10px;
                border: 1px solid #bcbcbc8f;
                margin: 12px;
                padding: 15px;
                // box-sizing: content-box;
            
            }
            .right{
                height: 300px;width: 300px;
                background-color: #FFFFFF;
                border-radius: 10px;
                border: 1px solid #bcbcbc8f;
                margin: 12px;
                padding: 15px;
            
            }
        }
        .item_bottom{
            display: flex;
            .left{
                height: 300px;width: 300px;
                background-color: #FFFFFF;
                border-radius: 10px;
                border: 1px solid #bcbcbc8f;
                margin: 12px;
                padding: 15px;
            
            }
            .right{
                height: 300px;width: 300px;
                background-color: #FFFFFF;
                border-radius: 10px;
                border: 1px solid #bcbcbc8f;
                border: 1px solid #ffffff00;
                border: 1px solid transparent;
                margin: 12px;
                padding: 15px;
            
            }

        }
    }
}