.productContainer {
    margin-top: 20px;
    width: 100%;
    padding: 0 10px;
    min-height: 1500px;
    .pd-info-container {
        width: 100%;
        justify-content: space-between;
        padding: 20px;
        display: flex;
        height: auto;
        .pd-info-left {
            display: flex;
            width: 63%;
            overflow: hidden;
            .pd-img-gallery {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 15%;
                gap: 20px;
                .p-img {
                    border: 1px solid #ccc;
                    width: 98px;
                    height: 98px;
                    border-radius: 8px;
                    overflow: hidden;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .pd-big-image {
                width: 85%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                padding: 0 10px;
                .pd-list-img {
                    width: 100%;
                    height: 472px;
                    .p-img {
                        width: 100%;
                        height: 100%;
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                .pd-image-btn {
                    font-family: "Open Sans",Arial,sans-serif;
                    color: #333e48;
                    word-break: break-word;
                    font-size: 13px;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    font-weight: 600;
                    text-align: center;
                    margin-top: 20px;
                    background: #f4f4f4;
                    padding: 15px 0px 10px;
                    width: 100%;
                    border-radius: 10px;
                    height: 125px;
                    .box{
                        height: 100%;
                        width: auto;
                        display: flex;
                        .item {
                            height: 100%;
                            width: 100px;
                            .item-icon {
                                font-family: "Open Sans",Arial,sans-serif;
                                word-break: break-word;
                                font-weight: 600;
                                text-align: center;
                                cursor: pointer;
                                color: #333e48;
                                font-size: inherit;
                                box-sizing: border-box;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 55px;
                                height: 55px;
                                border-radius: 10px;
                                overflow: hidden;
                                margin: auto auto 7px;
                                background: #fff;
                                background-position: center;
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-image: url("https://hanoicomputercdn.com/media/product/120_73001_laptop_asus_vivobook_go_e1404fa_18.png");
                            }
        
                            .item-text {
                                font-family: "Open Sans",Arial,sans-serif;
                                word-break: break-word;
                                font-weight: 600;
                                text-align: center;
                                cursor: pointer;
                                color: #333e48;
                                font-size: inherit;
                                box-sizing: border-box;
                            }
                        }
                        .item-image {
                        }
                        .item-video {
                        }
                        .item-product-spec {
                        }
                    }
                }
            }
        }

        .pd-info-right {
            width: 37%;
            .sptitle2024 {
                font-family: "Open Sans", Arial, sans-serif;
                color: #333e48;
                word-break: break-word;
                box-sizing: border-box;
                font-weight: 700;
                margin-bottom: 15px;
                font-size: 19px;
                line-height: 25px;
                margin-top: 0;
            }
            .pd-status-group {
                p {
                    font-family: "Open Sans", Arial, sans-serif;
                    word-break: break-word;
                    color: #333e48;
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 18px;
                    box-sizing: border-box;
                    display: inline-block;
                    margin: 0 0 9px;
                }
                .blue {
                }
            }
            .pd-summary-group {
                .group-title {
                    font-family: "Open Sans", Arial, sans-serif;
                    color: #333e48;
                    word-break: break-word;
                    box-sizing: border-box;
                    margin: 0 0 6px;
                    font-size: 16px;
                    margin-bottom: 10px;
                    font-weight: 700;
                }
                .item {
                    font-family: "Open Sans", Arial, sans-serif;
                    word-break: break-word;
                    box-sizing: border-box;
                    position: relative;
                    list-style: circle;
                    margin: 0 0 2px;
                    line-height: 1.5;
                    color: #1f2123;
                    padding-left: 0;
                    font-size: 13px;
                }
            }
            .pd-price-group {
                display: flex;
                flex-direction: column;
                .pd-special-price {
                    border-radius: 10px;
                    padding: 10px;
                    background: repeating-linear-gradient(to right, #2d2b75 0, red 100%);
                    display: flex;
                    justify-content: space-between;
                    .left {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .pd-price {
                            font-family: "Open Sans", Arial, sans-serif;
                            word-break: break-word;
                            line-height: 1.5;
                            color: #fff;
                            box-sizing: border-box;
                            margin: 0;
                            font-size: 24px;
                            font-weight: 700;
                        }
                        p {
                            font-family: "Open Sans", Arial, sans-serif;
                            word-break: break-word;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 1.5;
                            color: #fff;
                            box-sizing: border-box;
                            margin: 0;
                        }
                    }
                    .pd-market-price {
                        font-family: "Open Sans", Arial, sans-serif;
                        word-break: break-word;
                        line-height: 1.5;
                        color: #fff;
                        box-sizing: border-box;
                        margin: 0;
                        font-size: 24px;
                        font-weight: 700;
                    }
                }
                .pd-warranty-group {
                    font-family: "Open Sans", Arial, sans-serif;
                    color: #333e48;
                    word-break: break-word;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.5;
                    box-sizing: border-box;
                    margin: 10px 0 0;
                    p {
                        font-family: "Open Sans", Arial, sans-serif;
                        word-break: break-word;
                        box-sizing: border-box;
                        margin: 0 5px 7px 0;
                        display: inline-block;
                        padding: 0 10px;
                        border-radius: 4px;
                        font-size: 13px;
                        line-height: 30px;
                        color: #2c3075;
                        font-weight: 600;
                        background: #ffec0696;
                    }
                }
            }

            .pd-quantity-group {
                display: flex;
                // height: 30px;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 30px;
                margin-bottom: 10px;

                .pd-quantity-change {
                    width: 109px;
                    display: flex;
                    height: 30px;
                    justify-content: space-between;
                    align-items: center;
                    button {
                        display: block;
                        width: 30px;
                        height: 30px;
                        border-radius: 4px;
                        background-color: #fff;
                        border: 1px solid #a1a1a1;
                        &:hover {
                            border: 1px solid #4b4b4b;
                        }
                    }

                    span {
                    }
                }
                button {
                    background-color: #fff;
                    border: 1px solid #a1a1a1;
                    border-radius: 6px;
                    &:hover {
                       
                        border: 1px solid #4b4b4b;
                    }
                }
                .addToCart{
                    font-family: "Open Sans",Arial,sans-serif;
                    word-break: break-word;
                    box-sizing: border-box;
                    cursor: pointer;
                    color: #333e48;
                    text-decoration: none;
                    border: 1px solid #d8d8d8;
                    overflow: hidden;
                    border-radius: 5px;
                    margin-right: 10px;
                    padding: 0 20px;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 32px;
                    height: 32px;
                    transition: .1s all;
                    &:hover {
                        background: repeating-linear-gradient(to right, #2d2b75 0, red 100%);
                        border: 1px solid #4b4b4b;
                        color: #fff;
                    }
                }


            }
            .pd-btn-group {
                width: 100%;
                .pd-buy-now {
                    font-family: "Open Sans", Arial, sans-serif;
                    word-break: break-word;
                    box-sizing: border-box;
                    cursor: pointer;
                    text-decoration: none;
                    transition: all 0.2s ease;
                    color: #fff;
                    text-align: center;
                    border-radius: 7px;
                    margin: 0;
                    background: #ed1c24;
                    width: 100%;
                    font-size: 14px;
                    padding: 8px;
                    display: flex;
                    flex-direction: column;
                    b {
                        font-family: "Open Sans", Arial, sans-serif;
                        word-break: break-word;
                        cursor: pointer;
                        color: #fff;
                        text-align: center;
                        box-sizing: border-box;
                        font-weight: 700;
                        display: block;
                        text-transform: uppercase;
                        margin: 0;
                        font-size: 18px;
                    }
                    span {
                        font-family: "Open Sans", Arial, sans-serif;
                        word-break: break-word;
                        cursor: pointer;
                        color: #fff;
                        text-align: center;
                        box-sizing: border-box;
                        display: block;
                        font-size: 11px;
                    }
                }
            }
        }
    }
}
