.productContainer {
    margin-top: 20px;
    width: 100%;
    padding: 0 10px;
    .pd-info-container {
        width: 100%;
        justify-content: space-between;
        padding: 20px;
        display: flex;
        .pd-info-left {
            display: flex;
            width: 63%;
            overflow: hidden;
            .pd-img-gallery {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 15%;
                gap: 20px;
                .p-img {
                    border: 1px solid #ccc;
                    width: 98px;
                    height: 98px;
                    border-radius: 8px;
                    overflow: hidden;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .pd-big-image {
                width: 85%;
                height: 472px;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                padding: 0 10px;
                .pd-list-img {
                    width: 100%;
                    height: 100%;
                    .p-img {
                        width: 100%;
                        height: 100%;
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                .pd-image-btn {
                    display: flex;
                    justify-content: space-around;
                    .item {
                    }
                    .item-image {
                    }
                    .js-box-open-gallery {
                    }
                    .item-icon {
                    }
                    .lazy {
                    }
                    .item-text {
                    }
                    .item-video {
                    }
                    .fab {
                    }
                    .fa-youtube {
                    }
                    .item-product-spec {
                    }
                    .fal {
                    }
                    .fa-clipboard-list-check {
                    }
                    .tada {
                    }
                }
            }
        }

        .pd-info-right {
            width: 37%;
            .sptitle2024 {
                font-family: "Open Sans", Arial, sans-serif;
                color: #333e48;
                word-break: break-word;
                box-sizing: border-box;
                font-weight: 700;
                margin-bottom: 15px;
                font-size: 19px;
                line-height: 25px;
                margin-top: 0;
            }
            .pd-status-group {
                p {
                    font-family: "Open Sans", Arial, sans-serif;
                    word-break: break-word;
                    color: #333e48;
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 18px;
                    box-sizing: border-box;
                    display: inline-block;
                    margin: 0 0 9px;
                }
                .blue {
                }
            }
            .pd-summary-group {
                .group-title {
                    font-family: "Open Sans", Arial, sans-serif;
                    color: #333e48;
                    word-break: break-word;
                    box-sizing: border-box;
                    margin: 0 0 6px;
                    font-size: 16px;
                    margin-bottom: 10px;
                    font-weight: 700;
                }
                .item {
                    font-family: "Open Sans", Arial, sans-serif;
                    word-break: break-word;
                    box-sizing: border-box;
                    position: relative;
                    list-style: circle;
                    margin: 0 0 2px;
                    line-height: 1.5;
                    color: #1f2123;
                    padding-left: 0;
                    font-size: 13px;
                }
            }
            .pd-price-group {
                display: flex;
                flex-direction: column;
                .pd-special-price {
                    border-radius: 10px;
                    padding: 10px;
                    background: repeating-linear-gradient(to right, #2d2b75 0, red 100%);
                    display: flex;
                    justify-content: space-between;
                    .left {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .pd-price {
                            font-family: "Open Sans", Arial, sans-serif;
                            word-break: break-word;
                            line-height: 1.5;
                            color: #fff;
                            box-sizing: border-box;
                            margin: 0;
                            font-size: 24px;
                            font-weight: 700;
                        }
                        p {
                            font-family: "Open Sans", Arial, sans-serif;
                            word-break: break-word;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 1.5;
                            color: #fff;
                            box-sizing: border-box;
                            margin: 0;
                        }
                    }
                    .pd-market-price {
                        font-family: "Open Sans", Arial, sans-serif;
                        word-break: break-word;
                        line-height: 1.5;
                        color: #fff;
                        box-sizing: border-box;
                        margin: 0;
                        font-size: 24px;
                        font-weight: 700;
                    }
                }
                .pd-warranty-group {
                    font-family: "Open Sans", Arial, sans-serif;
                    color: #333e48;
                    word-break: break-word;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.5;
                    box-sizing: border-box;
                    margin: 10px 0 0;
                    p {
                        font-family: "Open Sans", Arial, sans-serif;
                        word-break: break-word;
                        box-sizing: border-box;
                        margin: 0 5px 7px 0;
                        display: inline-block;
                        padding: 0 10px;
                        border-radius: 4px;
                        font-size: 13px;
                        line-height: 30px;
                        color: #2c3075;
                        font-weight: 600;
                        background: #ffec0696;
                    }
                }
            }
            .SwiperSlideDes_Btn {
                height: 30px;
                width: 109px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid #000;
                .btn_icon {
                    border: 1px solid #000;
                    height: 30px;
                    width: 30px;
                    display: block;
                    align-self: center;
                    justify-self: center;

                }
            }
            .pd-btn-group {
                width: 100%;
                .pd-buy-now {
                    font-family: "Open Sans",Arial,sans-serif;
                    word-break: break-word;
                    box-sizing: border-box;
                    cursor: pointer;
                    text-decoration: none;
                    transition: all .2s ease;
                    color: #fff;
                    text-align: center;
                    border-radius: 7px;
                    margin: 0;
                    background: #ed1c24;
                    width: 100%;
                    font-size: 14px;
                    padding: 8px;
                    display: flex;
                    flex-direction: column;
                    b{
                        font-family: "Open Sans",Arial,sans-serif;
                        word-break: break-word;
                        cursor: pointer;
                        color: #fff;
                        text-align: center;
                        box-sizing: border-box;
                        font-weight: 700;
                        display: block;
                        text-transform: uppercase;
                        margin: 0;
                        font-size: 18px;
                    }
                    span{
                        font-family: "Open Sans",Arial,sans-serif;
                        word-break: break-word;
                        cursor: pointer;
                        color: #fff;
                        text-align: center;
                        box-sizing: border-box;
                        display: block;
                        font-size: 11px;
                    }

                }
            }
        }
    }
}
